# Unity3D .gitignore file.
#     Store this file at the root of your local repository.
.DS_Store
Ostrov/Library/AssetImportState
Ostrov/Library/AssetServerCacheV3
Ostrov/Library/FailedAssetImports.txt
Ostrov/Library/ScriptAssemblies
Ostrov/Library/ScriptMapper
Ostrov/Library/assetDatabase3
Ostrov/Library/cache
Ostrov/Library/expandedItems
Ostrov/Library/metadata
Ostrov/Library/previews
Ostrov/Library/guidmapper
Ostrov/Temp
Ostrov/*.pidb
build